/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    header,
    .social {
        display: none;
    }
    #navigation ul li a {
        padding: 8px 0 0 !important;
    }
    #banner img {
        display: block;
        margin: auto;
    }
    .b_content {
        margin-top: 20px;
    }
    .b_content h1 {
        font-size: 20px;
    }
    .cmn_link {
        float: none;
    }
    .title {
        font-size: 24px;
    }
    .service,
    .client,
    .single {
        margin-top: 40px;
    }
    #blog {
        padding: 0 0 40px;
    }
    .single .subtitle {
        margin-bottom: 16px;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    header,
    .social {
        display: none;
    }
    #navigation ul li a {
        padding: 8px 0 0 !important;
    }
    #banner img {
        display: block;
        margin: auto;
    }
    .b_content {
        margin-top: 20px;
    }
    .b_content h1 {
        font-size: 36px;
    }
    .cmn_link {
        float: none;
    }
    .service,
    .client,
    .single {
        margin-top: 40px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .b_content h1 {
        font-size: 42px;
    }
    .cmn_link {
        float: none;
    }
    .title {
        font-size: 23px;
    }
    .service  {
        margin-top: 40px;
    }
    #blog {
        padding: 40px 0 0;
    }
    .single {
        margin-bottom: 40px;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .b_content h1 {
        font-size: 56px;
    }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
