body {
    font-family: Georgia;
    color: #666;
}
/*minimenu start*/
header {
    padding: 15px 0;
    background-color: #ba2e1f;
}
header ul li a {
    color: #fff;
    transition: 0.3s ease;
}
header ul li a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
header form {
    position: relative;
}
.s_input {
    padding-right: 30px;
    width: 210px;
    height: 30px;
}
.s_btn {
    position: absolute;
    top: -15%;
    right: 0%;
}
.s_btn i {
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    background: #ba2e1f;
}
.s_btn:focus {
    box-shadow: none;
}
/*minimenu end*/
/*social start*/
.social {
    padding: 30px 0;
}
.social ul li i {
    color: #fff;
    padding: 8px;
    margin: 0 4px;
    background: #333;
    border-radius: 50%;
    transition: 0.3s ease;
}
.social ul li i:hover {
    background: #ee802f;
}
/*social end*/
/*navigation start*/
#navigation {
    padding: 15px 0;
    background: #333;
}
#navigation ul li a {
    color: #fff !important;
    text-transform: uppercase;
    padding: 0 20px !important;
    transition: 0.3s ease;
}
#navigation ul li a:hover {
    color: #ba2e1f !important;
}
/*navigation end*/
/*banner start*/
#banner {
    padding: 20px 0;
}
.b_content h1 {
    font-size: 86px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}
.cmn_link,
.cmn_link:hover {
    color: #ba2e1f;
    text-decoration: none;
    float: right;
}
.cmn_link i {
    font-size: 13px;
}
/*banner end*/
/*about start*/
#intro {
    padding: 40px 0;
    background: #f2f2f2;
}
.title {
    font-size: 26px;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.about p {
    margin: 16px 0;
}
/*about end*/
/*service start*/
.subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #878787;
}
.subtitle span {
    font-weight: 400;
}
/*service end*/
/*client start */
.client h3::before {
    content: url(../images/q.png);
    padding-right: 10px;
}
/*client end */
/*blog start*/
#blog {
    padding: 40px 0;
}
.single hr {
    background-color: #878787;
    width: 200px;
    height: 1px;
    margin: 0 0 16px;
}
.single .subtitle {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.red {
    color: #ba2e1f;
}
.single ul {
    list-style-type: "»";
    padding: 0;
}
.single ul li {
    border-bottom: 1px solid #d4d4d4;
}
.single ul li a,
.single ul li a:hover {
    color: #666666;
    padding-left: 10px;
    text-decoration: none;
}
.single h3 {
    font-size: 16px;
    font-weight: 700;
}
.single input,
.single textarea,
.single button {
    background-color: #f2f2f2;
    text-transform: uppercase;
}
/*blog end*/
/*footer start*/
footer {
    padding: 20px 0;
    background-color: #f2f2f2;
}
footer ul li a {
    font-size: 18px;
    color: #666666;
    padding: 0 5px;
    transition: 0.3s ease;
}
footer ul li a:hover {
    color: #ba2e1f;
}
/*footer end*/